body {
    margin: 0;
}

header {
    background-color: #293f85;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav {
    background-color: #3460ad;
    text-align: center;
    padding: 20px;
}

button {
    width: 150px;
    padding: 15px;
    text-align: center;
    background-color:  #293f85;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    border: 2px solid #74aedf;
    color: #ffffff;
    display: inline-block;
    margin: 0px 20px;
    cursor: pointer;
}

button {
    border-radius: 8px;
}

button:hover {
    text-decoration: underline;
}

main {
    background-color: #74aedf;
    border-bottom: 2px solid #33658a;
    border-top: 2px solid #33658a;
}

footer {
    background-color: #3460ad;
    text-align: center;
    padding: 10px;
}
.maintitle {
    display: inline;
    font-size: 50px;
    color: #ffffff;
    padding: 20px;
}

.subtitle {
    display: inline;
    font-size: 36px;
    color: #ffffff;
}

.heading1 {
    font-size: 24px;
    color: #2f4858;
    margin: 0px;
}


.loginButton {
    width: 100px;
    padding: 15px;
    background-color: #293f85;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    border: 2px solid #ffffff;
    color: #ffffff;
    display: inline-block;
    cursor: pointer;
    line-height: 12px;
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    top:0;
    right:0;
}

.loginButton {
    border-radius: 8px;
}

.loginButton:hover {
    text-decoration: underline;
}