<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Message</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/systle.css}"/>
</head>
<body>
<header>
    <div class="row">
        <div class="column left">
            <p class="maintitle">Restaurant Management System</p>
            <p class="subtitle">Team 19</p>
        </div>
    </div>
    <a href="/">
        <button class="loginButton">Logout</button>
    </a>
</header>

<nav>
    <a th:href="@{'/cooker/' + ${cooker.username}}">
        <button class="button">Home</button>
    </a>
    <a th:href="@{'/cooker_manager/' + ${cooker.id}}">
        <button class="button">My Manager</button>
    </a>
    <a th:href="@{'/cooker_subordinate/' + ${cooker.id}}">
        <button class="button">My Subordinate</button>
    </a>
    <a th:href="@{'/cooker_contract/' + ${cooker.id}}">
        <button class="button">My Contract</button>
    </a>
    <a th:href="@{'/cooker/orders/' + ${cooker.username}}">
        <button class="button">Order</button>
    </a>
    <a th:href="@{'/cooker/message/' + ${cooker.id}}">
        <button class="button">My Message</button>
    </a>
</nav>

<main>
    <div align="center">
        <br/>
        <br/>
        <P class="heading1">Message</P>
        <br/>
        <a th:href="@{'/message/' + ${cooker.id}}">
            <button>Send Message</button>
        </a>
        <br/>
        <br/>
        <P class="heading1">Message Sent</P>
        <br/>
        <table border="1" cellpadding="15">
            <thead>
            <tr>
                <th>Sent To</th>
                <th>Message</th>
                <th>Sent Time</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="stext : ${sentTexts}">
                <td th:text="${stext?.customer?.username}">Sent To</td>
                <td th:text="${stext.message}">Message</td>
                <td th:text="${stext.createdTime}">Sent Time</td>
                <td>
                    <a th:href="@{'/cooker/delete_message/' + ${stext.id}}">Delete</a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <br/>
</main>
<footer>
    <span class="footerfont">CS5200 Spring 2020 Final Project<br>By: Zefan Zhang/Yujia Liu/Santosh Shenoy Tirthahalli</span>
</footer>
</body>
</html>