<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Message</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/systle.css}"/>
</head>
<body>
<header>
    <div class="row">
        <div class="column left">
            <p class="maintitle">Restaurant Management System</p>
            <p class="subtitle">Team 19</p>
        </div>
    </div>
    <a href="/">
        <button class="loginButton">Logout</button>
    </a>
</header>

<nav>
    <a th:href="@{'/customer/' + ${customer.username}}">
        <button class="button">Home</button>
    </a>
    <a th:href="@{'/customer/menus/' + ${customer.username}}">
        <button class="button">Menu</button>
    </a>
    <a th:href="@{'/customer_foodreview/' + ${customer.id}}">
        <button class="button">My Foodreviews</button>
    </a>
    <a th:href="@{'/customer/wishlist/' + ${customer.id}}">
        <button class="button">Wish List</button>
    </a>
    <a th:href="@{'/customer/orders/' + ${customer.id}}">
        <button class="button">Orders</button>
    </a>
    <a th:href="@{'/customer/message/' + ${customer.id}}">
        <button class="button">My Message</button>
    </a>
</nav>

<main>
    <div align="center">
        <br/>
        <br/>
        <P class="heading1">My Message</P>
        <br/>
        <br/>
        <table border="1" cellpadding="15">
            <thead>
            <tr>
                <th>Message</th>
                <th>Sent By</th>
                <th>Received Time</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="text : ${receivedTexts}">
                <td th:text="${text.message}">Message</td>
                <td th:text="${text.cooker.userName}">Sent By</td>
                <td th:text="${text.createdTime}">Received Time</td>
                <td>
                    <a th:href="@{'/customer/delete_message/' + ${text.id}}">Delete</a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <br/>
</main>
<footer>
    <span class="footerfont">CS5200 Spring 2020 Final Project<br>By: Zefan Zhang/Yujia Liu/Santosh Shenoy Tirthahalli</span>
</footer>
</body>
</html>