<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Food</title>
</head>
<body>
<div align="center">
    <h1>Create New Food</h1>
    <br/>
    <form action="#" th:action="@{/save_food}" th:object="${food}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>Food Name</td>
                <td>
                    <input type="text" th:field="*{name}"/>
                </td>
            </tr>
            <tr>
                <td>Menu ID</td>
                <td>
                    <input type="number" th:field="*{menu.id}"/>
                </td>
            </tr>
            <tr>
                <td>Food Category</td>
                <td>
                    <input type="checkbox" name="category1" value="appetizer" th:field="*{category}"/>
                    <label for="category1">Appetizer</label><br>
                    <input type="checkbox" name="category2" value="mainDish" th:field="*{category}"/>
                    <label for="category2">Main Dish</label><br>
                    <input type="checkbox" name="category3" value="salad" th:field="*{category}"/>
                    <label for="category3">Salad</label><br>
                    <input type="checkbox" name="category4" value="meat" th:field="*{category}"/>
                    <label for="category4">Meat</label><br>
                    <input type="checkbox" name="category5" value="dessert" th:field="*{category}"/>
                    <label for="category5">Dessert</label><br>
                    <input type="checkbox" name="category6" value="beverage" th:field="*{category}"/>
                    <label for="category6">Beverage</label><br>
                </td>
            </tr>
            <tr>
                <td>Inventory</td>
                <td>
                    <input type="number" th:field="*{inventory}"/>
                </td>
            </tr>
            <tr>
                <td>Price</td>
                <td>
                    <input type="number" th:field="*{price}"/>
                </td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>

        </table>
    </form>
</div>

</body>
</html>