<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Team19 Restaurant</title>
</head>
<body>
<div align="center">
    <h1>Welcome To Team19 Restaurant</h1>
    <a href="/add_menu">Create Menu</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Menu ID</th>
            <th>Name</th>
            <th>Foods</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="menu : ${menus}">
            <td th:text="${menu.id}">Menu ID</td>
            <td th:text="${menu.name}">Name</td>
            <td>
                <a th:href="@{'/menu/' + ${menu.id}}">Detail</a>
            </td>
            <td>
                <a th:href="@{'/edit_menu/' + ${menu.id}}">Edit</a>
            </td>
            <td>
                <a th:href="@{'/delete_menu/' + ${menu.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div align="center">
    <h1>All Cookers</h1>
    <a href="add_cooker">Add a new cooker</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Cooker ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Password</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Date Of Birth</th>
            <th>Level</th>
            <th>Responsibility</th>
            <th>Manager</th>
            <th>Subordinates</th>
            <th>Contract ID</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cooker : ${cookers}">
            <td th:text="${cooker.id}">Cooker ID</td>
            <td th:text="${cooker.fistName}">First Name</td>
            <td th:text="${cooker.lastName}">Last Name</td>
            <td th:text="${cooker.userName}">Username</td>
            <td th:text="${cooker.password}">Password</td>
            <td th:text="${cooker.gender}">Gender</td>
            <td th:text="${cooker.email}">Email</td>
            <td th:text="${cooker.dob}">Date Of Birth</td>
            <td th:text="${cooker.level}">Level</td>
            <td th:text="${cooker.responsibility}">Responsibility</td>
            <td th:text="${cooker?.manager?.lastName}">Manager</td>
            <td>
                <a th:href="@{'/subordinates/' + ${cooker.id}}">Detail</a>
            </td>
            <td>
                <a th:href="@{'/contract/' + ${cooker.contract.id}}">Detail</a>
            </td>
            <td>
                <a th:href="@{'/edit_cooker/' + ${cooker.id}}">Edit</a>
            </td>
            <td>
                <a th:href="@{'/delete_cooker/' + ${cooker.id}}">Remove</a>
            </td>

        </tr>
        </tbody>
    </table>
</div>

<div align="center">
    <h1>All Customers</h1>
    <a href="add_customer">Add a new customer</a>
    <br/><br/>
    <table border="1" cellpadding="15">
        <thead>
        <tr>
            <th>Customer ID</th>
            <th>VIP</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Password</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Date Of Birth</th>
            <th>User Agreement</th>
            <th>Payment Method</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer : ${customers}">
            <td th:text="${customer.id}">Cooker ID</td>
            <td th:text="${customer.VIP}">VIP</td>
            <td th:text="${customer.fistName}">First Name</td>
            <td th:text="${customer.lastName}">Last Name</td>
            <td th:text="${customer.userName}">Username</td>
            <td th:text="${customer.password}">Password</td>
            <td>
                <a th:href="@{'/address/' + ${customer.id}}">Details</a>
                <br/><br/>
                <a th:href="@{'/add_address/' + ${customer.id}}">Add address</a>
            </td>
            <td>
                <a th:href="@{'/phone/' + ${customer.id}}">Detail</a>
                <br/><br/>
                <a th:href="@{'/add_phone/' + ${customer.id}}">Add phone</a>
            </td>
            <td th:text="${customer.gender}">Gender</td>
            <td th:text="${customer.email}">Email</td>
            <td th:text="${customer.dob}">Date Of Birth</td>
            <td th:text="${customer.userAgreement}">User Agreement</td>
            <td th:text="${customer.paymentMethod}">Payment Method</td>
            <td>
                <a th:href="@{'/edit_customer/' + ${customer.id}}">Edit</a>
            </td>
            <td>
                <a th:href="@{'/delete_customer/' + ${customer.id}}">Remove</a>
            </td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>