<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Phone</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/systle.css}"/>
</head>
<body>
<header>
    <div class="row">
        <div class="column left">
            <p class="maintitle">Restaurant Management System</p>
            <p class="subtitle">Team 19</p>
        </div>
    </div>
    <a href="/">
        <button class="loginButton">Logout</button>
    </a>
</header>

<nav>
    <a th:href="@{'/owner/' + ${owner.username}}">
        <button class="button">Home</button>
    </a>
    <a th:href="@{'/all_customers/' + ${owner.username}}">
        <button class="button">Customers</button>
    </a>
    <a th:href="@{'/all_cookers/' + ${owner.username}}">
        <button class="button">Cookers</button>
    </a>
    <a th:href="@{'/owner/menus/' + ${owner.id}}">
        <button class="button">Menus</button>
    </a>
    <a th:href="@{'/owner/wishlist/' + ${owner.username}}">
        <button class="button">Wish List</button>
    </a>
    <a th:href="@{'/owner/orders/' + ${owner.username}}">
        <button class="button">Orders</button>
    </a>
    <a th:href="@{'/owner/message/' + ${owner.username}}">
        <button class="button">Message</button>
    </a>
</nav>

<main>
    <div align="center">
        <br/>
        <br/>
        <p class="heading1">New Number</p>
        <br/>
        <form action="#" th:action="@{/owner_save_phone}" th:object="${phone}" method="post">
            <table border="0" cellpadding="10">
                <tr>
                    <td>User ID</td>
                    <td>
                        <input type="number" th:field="*{person.id}" readonly="readonly"/>
                    </td>
                </tr>
                <tr>
                    <td>Primary Phone</td>
                    <td>
                        <select th:field="*{primaryPhone}">
                            <option value="true">
                                Yes
                            </option>
                            <option value="false">
                                No
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Phone Number</td>
                    <td>
                        <input type="text" th:field="*{number}"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>

            </table>
        </form>
        <br/>
        <br/>
    </div>
</main>
<footer>
    <span class="footerfont">CS5200 Spring 2020 Final Project<br>By: Zefan Zhang/Yujia Liu/Santosh Shenoy Tirthahalli</span>
</footer>
</body>
</html>