<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Foods</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/stytle.css}" />
</head>
<body>
<header>
    <div class="row">
        <div class="column left">
            <p class="maintitle">Restaurant Management System</p>
            <p class="subtitle" >Team 19</p>
        </div>
    </div>
    <a href="/"><button class="loginButton">Logout</button></a>
</header>

<nav>
    <a th:href="@{'/owner/' + ${owner.username}}">
        <button class="button">Home</button>
    </a>
    <a th:href="@{'/all_customers/' + ${owner.username}}">
        <button class="button">Customers</button>
    </a>
    <a th:href="@{'/all_cookers/' + ${owner.username}}">
        <button class="button">Cookers</button>
    </a>
    <a th:href="@{'/owner/menus/' + ${owner.id}}">
        <button class="button">Menus</button>
    </a>
    <a th:href="@{'/owner/wishlist/' + ${owner.username}}">
        <button class="button">Wish List</button>
    </a>
    <a th:href="@{'/owner/orders/' + ${owner.username}}">
        <button class="button">Orders</button>
    </a>
    <a th:href="@{'/owner/message/' + ${owner.username}}">
        <button class="button">Message</button>
    </a>
</nav>

<main>
<div align="center">
    <br/>
    <br/>
    <p class="heading1">Foods</p>
    <br/>
    <br/>
    <a th:href="@{'/create_food/' + ${menu.id}}"><button class="button">Add Food</button></a>
    <br/>
    <br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Food ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Price</th>
            <th>Inventory</th>
            <th>Reviews</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Add to Wish List</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="fooditem : ${foodsOnMenu}">
            <td th:text="${fooditem.id}">Food ID</td>
            <td th:text="${fooditem.name}">Name</td>
            <td th:text="${fooditem.description}">Description</td>
            <td th:text="${fooditem.category}">Category</td>
            <td th:text="${fooditem.price}">price</td>
            <td th:text="${fooditem.inventory}">Inventory</td>
            <td>
                <a th:href="@{'/food_reviews/' + ${fooditem.id} + '/' + ${menu.id} + '/' + ${owner.id}}">Details</a>
                <br/><br/>
                <a th:href="@{'/write_food_review/' + ${fooditem.id} + '/' + ${menu.id} + '/' + ${owner.id}}">Write Review</a>
            </td>
            <td>
                <a th:href="@{'/edit_food/' + ${fooditem.id} + '/' + ${menu.id} + '/' + ${owner.id}}">Edit</a>
            </td>
            <td>
                <a th:href="@{'/delete_food/' + ${fooditem.id} + '/' + ${menu.id} + '/' + ${owner.id}}">Delete</a>
            </td>
            <td>
                <a th:href="@{'/owner/wishlist/' + ${fooditem.id} + '/' + ${owner.id}}">Add</a>
            </td>
        </tr>
        </tbody>
    </table>
    <br/>
    <br/>
</div>
</main>
<footer>
    <span class="footerfont">CS5200 Spring 2020 Final Project<br>By: Zefan Zhang/Yujia Liu/Santosh Shenoy Tirthahalli</span>
</footer>
</body>
</html>