<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/systle.css}"/>
</head>
<body>
<header>
    <div class="row">
        <div class="column left">
            <p class="maintitle">Restaurant Management System</p>
            <p class="subtitle">Team 19</p>
        </div>
    </div>
    <a href="/">
        <button class="loginButton">Logout</button>
    </a>
</header>

<nav>
    <a th:href="@{'/owner/' + ${owner.username}}">
        <button class="button">Home</button>
    </a>
    <a th:href="@{'/all_customers/' + ${owner.username}}">
        <button class="button">Customers</button>
    </a>
    <a th:href="@{'/all_cookers/' + ${owner.username}}">
        <button class="button">Cookers</button>
    </a>
    <a th:href="@{'/owner/menus/' + ${owner.id}}">
        <button class="button">Menus</button>
    </a>
    <a th:href="@{'/owner/wishlist/' + ${owner.username}}">
        <button class="button">Wish List</button>
    </a>
    <a th:href="@{'/owner/orders/' + ${owner.username}}">
        <button class="button">Orders</button>
    </a>
    <a th:href="@{'/owner/message/' + ${owner.username}}">
        <button class="button">Message</button>
    </a>
</nav>

<main>
    <div align="center">
        <br/>
        <br/>
        <p class="heading1">All Customers</p>
        <br/>
        <br/>
        <a th:href="@{'/add_customer/' + ${owner.id}}">
            <button>Add New Customer</button>
        </a>
        <br/>
        <br/>
        <table border="1" cellpadding="10">
            <thead>
            <tr>
                <th>Customer ID</th>
                <th>Customer Role</th>
                <th>VIP</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Password</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Date Of Birth</th>
                <th>User Agreement</th>
                <th>Payment Method</th>
                <th>Reviews For Foods</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.id}">Customer ID</td>
                <td th:text="${customer.role}">Customer Role</td>
                <td th:text="${customer.VIP}">VIP</td>
                <td th:text="${customer.fistName}">First Name</td>
                <td th:text="${customer.lastName}">Last Name</td>
                <td th:text="${customer.userName}">Username</td>
                <td th:text="${customer.password}">Password</td>
                <td>
                    <a th:href="@{'/address/' + ${customer.id} + '/' + ${owner.username}}">Details</a>
                    <br/><br/>
                    <a th:href="@{'/add_address/' + ${customer.id} + '/' + ${owner.username}}">Add
                        address</a>
                </td>
                <td>
                    <a th:href="@{'/phone/' + ${customer.id} + '/' + ${owner.username}}">Detail</a>
                    <br/><br/>
                    <a th:href="@{'/add_phone/' + ${customer.id} + '/' + ${owner.username}}">Add
                        phone</a>
                </td>
                <td th:text="${customer.gender}">Gender</td>
                <td th:text="${customer.email}">Email</td>
                <td th:text="${customer.dob}">Date Of Birth</td>
                <td th:text="${customer.userAgreement}">User Agreement</td>
                <td th:text="${customer.paymentMethod}">Payment Method</td>
                <td>
                    <a th:href="@{'/owner_customer_foodreview/' + ${customer.id} + '/' + ${owner.username}}">Detail</a>
                </td>
                <td>
                    <a th:href="@{'/owner_edit_customer/' + ${customer.id} + '/' + ${owner.username}}">Edit</a>
                </td>
                <td>
                    <a th:href="@{'/delete_customer/' + ${customer.id}}">Remove</a>
                </td>

            </tr>
            </tbody>
        </table>
        <br/>
        <br/>
    </div>
</main>
<footer>
    <span class="footerfont">CS5200 Spring 2020 Final Project<br>By: Zefan Zhang/Yujia Liu/Santosh Shenoy Tirthahalli</span>
</footer>
</body>
</html>