<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Managers</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/stytle.css}"/>
</head>
<body>
<header>
    <div class="row">
        <div class="column left">
            <p class="maintitle">Restaurant Management System</p>
            <p class="subtitle">Team 19</p>
        </div>
    </div>
    <a href="/">
        <button class="loginButton">Logout</button>
    </a>
</header>

<nav>
    <a th:href="@{'/owner/' + ${owner.username}}">
        <button class="button">Home</button>
    </a>
    <a th:href="@{'/all_customers/' + ${owner.username}}">
        <button class="button">Customers</button>
    </a>
    <a th:href="@{'/all_cookers/' + ${owner.username}}">
        <button class="button">Cookers</button>
    </a>
    <a th:href="@{'/owner/menus/' + ${owner.id}}">
        <button class="button">Menus</button>
    </a>
    <a th:href="@{'/owner/wishlist/' + ${owner.username}}">
        <button class="button">Wish List</button>
    </a>
    <a th:href="@{'/owner/orders/' + ${owner.username}}">
        <button class="button">Orders</button>
    </a>
    <a th:href="@{'/owner/message/' + ${owner.username}}">
        <button class="button">Message</button>
    </a>
</nav>

<main>
    <div align="center">
        <br/>
        <br/>
        <p class="heading1">Cooker's Manager</p>
        <br/>
        <br/>
        <table border="1" cellpadding="10">
            <thead>
            <tr>
                <th>Manager ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Level</th>
                <th>Responsibility</th>
            </tr>
            </thead>
            <tbody>
            <td th:text="${manager?.id}">Manager ID</td>
            <td th:text="${manager?.fistName}">First Name</td>
            <td th:text="${manager?.lastName}">Last Name</td>
            <td th:text="${manager?.userName}">Username</td>
            <td th:text="${manager?.email}">Email</td>
            <td th:text="${manager?.level}">Level</td>
            <td th:text="${manager?.responsibility}">Responsibility</td>
            </tbody>
        </table>
        <br/>
        <br/>
    </div>
</main>
<footer>
    <span class="footerfont">CS5200 Spring 2020 Final Project<br>By: Zefan Zhang/Yujia Liu/Santosh Shenoy Tirthahalli</span>
</footer>
</body>
</body>
</html>