<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Phone</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/stytle.css}"/>
</head>
<body>
<header>
    <div class="row">
        <div class="column left">
            <p class="maintitle">Restaurant Management System</p>
            <p class="subtitle">Team 19</p>
        </div>
    </div>
    <a href="/">
        <button class="loginButton">Logout</button>
    </a>
</header>

<nav>
    <a th:href="@{'/owner/' + ${owner.username}}">
        <button class="button">Home</button>
    </a>
    <a th:href="@{'/all_customers/' + ${owner.username}}">
        <button class="button">Customers</button>
    </a>
    <a th:href="@{'/all_cookers/' + ${owner.username}}">
        <button class="button">Cookers</button>
    </a>
    <a th:href="@{'/owner/menus/' + ${owner.id}}">
        <button class="button">Menus</button>
    </a>
    <a th:href="@{'/owner/wishlist/' + ${owner.username}}">
        <button class="button">Wish List</button>
    </a>
    <a th:href="@{'/owner/orders/' + ${owner.username}}">
        <button class="button">Orders</button>
    </a>
    <a th:href="@{'/owner/message/' + ${owner.username}}">
        <button class="button">Message</button>
    </a>
</nav>

<main>
    <div align="center">
        <br/>
        <br/>
        <p class="heading1">User Phone Number</p>
        <br/>
        <br/>
        <table border="1" cellpadding="10">
            <thead>
            <tr>
                <th>Phone ID</th>
                <th>Phone Number</th>
                <th>Primary</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="phone : ${phones}">
                <td th:text="${phone.id}">Phone ID</td>
                <td th:text="${phone.number}">Phone Number</td>
                <td th:text="${phone.primaryPhone}">Primary</td>
                <td>
                    <a th:href="@{'/owner_edit_phone/' + ${phone.id} + '/' + ${owner.username}}">Edit</a>
                </td>
                <td>
                    <a th:href="@{'/owner_delete_phone/' + ${phone.id}}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        <br/>
        <br/>
    </div>
</main>
<footer>
    <span class="footerfont">CS5200 Spring 2020 Final Project<br>By: Zefan Zhang/Yujia Liu/Santosh Shenoy Tirthahalli</span>
</footer>
</body>
</html>