<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Foods</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/stytle.css}" />
</head>
<body>
<header>
    <div class="row">
        <div class="column left">
            <p class="maintitle">Restaurant Management System</p>
            <p class="subtitle" >Team 19</p>
        </div>
    </div>
    <a href="/login"><button class="loginButton">Login</button></a>
</header>

<nav>
    <a href="/"><button class="button">Home</button></a>
    <a href="/menus"><button class="button">Menu</button></a>
    <a href="/login"><button class="button">Wish List</button></a>
    <a href="/login"><button class="button">My Order</button></a>
    <a href="/login"><button class="button">My Message</button></a>
</nav>
<main>
    <br/><br/>
    <div align="center">
        <br/>
        <br/>
        <table border="1" cellpadding="10">
            <thead>
            <tr>
                <th>Food Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Price</th>
                <th>Reviews</th>
                <th>Add to Wish List</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="fooditem : ${foodsOnMenu}">
                <td>
                    <img style="width:88px;height:88px;" th:src="@{${fooditem.imageUrl}}"/>
                </td>

                <td th:text="${fooditem.name}">Name</td>
                <td th:text="${fooditem.description}">Description</td>
                <td th:text="${fooditem.category}">Category</td>
                <td th:text="${fooditem.price}">price</td>
                <td>
                    <a th:href="@{'/public_food_reviews/' + ${fooditem.id}}">Detail</a>
                    <br/><br/>
                    <a th:href="@{'/login'}">Write Review</a>
                </td>
                <td>
                    <a th:href="@{'/login'}">Add</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/><br/>
</main>
<footer>
    <span class="footerfont">CS5200 Spring 2020 Final Project<br>By: Zefan Zhang/Yujia Liu/Santosh Shenoy Tirthahalli</span>
</footer>
</body>
</html>