<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Address</title>
</head>
<body>
<div align="center">
    <h1>My Address</h1>
    <a href="/owner">Go Back</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Address ID</th>
            <th>Primary</th>
            <th>Street 1</th>
            <th>Street 2</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="address : ${addresses}">
            <td th:text="${address.id}">Address ID</td>
            <td th:text="${address.primaryAddress}">Primary</td>
            <td th:text="${address.street1}">Street 1</td>
            <td th:text="${address.street2}">Street 2</td>
            <td th:text="${address.city}">City</td>
            <td th:text="${address.state}">State</td>
            <td th:text="${address.zip}">Zip</td>
            <td>
                <a th:href="@{'/edit_address/' + ${address.id}}">Edit</a>
            </td>
            <td>
                <a th:href="@{'/delete_address/' + ${address.id}}">Delete</a>
            </td>

        </tr>
        </tbody>
    </table>



</div>

</body>
</html>