<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Phone</title>
</head>
<body>
<div align="center">
    <h1>My Phone Number</h1>
    <a href="/owner">Go Back</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Phone ID</th>
            <th>Phone Number</th>
            <th>Primary</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="phone : ${phones}">
            <td th:text="${phone.id}">Phone ID</td>
            <td th:text="${phone.number}">Phone Number</td>
            <td th:text="${phone.primaryPhone}">Primary</td>
            <td>
                <a th:href="@{'/edit_phone/' + ${phone.id}}">Edit</a>
            </td>
            <td>
                <a th:href="@{'/delete_phone/' + ${phone.id}}">Delete</a>
            </td>

        </tr>
        </tbody>
    </table>

</div>

</body>
</html>